.navbar {
    background-color: var(--cardColor);
    padding: 0;
    border-radius: 40px;
    margin: 2% 8%;

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--textColor);
        padding: 0 1rem;

        &:hover {
            color: var(--textColor);
        }

        img {
            width: 3rem;
            height: 3rem;
            margin: 10px;
        }
    }
}

:host ::ng-deep .p-button {
    color: var(--textColor);
    background-color: var(--cardSecondaryColor);
    border-color: var(--cardSecondaryColor);
    &:hover {
        color: var(--textColor);
        background-color: var(--cardColor);
        border-color: var(--cardColor);
    }
    &:focus {
        border-color: transparent;
    }

    &:active {
        border-color: transparent;
    }
}



.navbar-toggler {
    margin: 0 1rem;
    border: none;
    background-color: var(--cardSecondaryColor);
    color: var(--textColor);
    box-shadow: none;
    border-radius: 80px;
    &:hover {
        color: var(--textColor);
        background-color: var(--cardColor);
    }

    &:focus {
        box-shadow: none;
    }
}

@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .navbar-toggler {
        margin: 0 0.5rem;
    }
}

