<p-card header="{{num}}" >

    <ng-template pTemplate="header">
        <div class="d-flex justify-content-between">
            <img alt="Card" src="{{'assets/'+img}}" [style]="{'width':'100px'}" class="m-auto" />
        </div>

    </ng-template>

    <ng-template pTemplate="footer" *ngIf="amount == 0">
        <p-button pRipple label="Select" (click)="sendNumber(num)" [disabled]="isDisabled"
            styleClass="p-button-outlined p-button-rounded p-button-success"></p-button>

    </ng-template>

</p-card>