// colors variables

:host ::ng-deep .p-fieldset {
    border-radius: 20px;
    border-width: 0px;
    color: var(--textColor);
    background-color: var(--secondaryColor);
    box-shadow: 1px 1px 5px -2px var(--borderColor);    
    .p-fieldset-legend {
        border-radius: 20px 20px 0px 0px;
        border-width: 0px;
        color: var(--textColor);
        background-color: var(--cardColor);
    }
}

:host ::ng-deep .p-inputnumber-input {
    border-radius: 40px;
}
